.navbar_container {
  --color_nav_bg: white;
  --color_nav_txt: rgb(100, 116, 139);
  --color_nav_ctg: rgb(226, 232, 240);
  --color_nav_active: rgb(85, 79, 232);
  --color_nav_active_bg: #EBF5FF;
  --nav_width: 16rem;
  background: #446DFF;
  padding: var(--padding-md) var(--padding-sm);
  transition: transform 300ms ease-in-out;
}
@media screen and (max-width: 1024px) {
  .navbar_container {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
  }
}
@media screen and (max-width: 18rem) {
  .navbar_container {
    width: 100vw;
  }
}

@media screen and (max-width: 1024px) {
  .navbar_mobile_active {
    transform: translateX(0);
  }
}

nav {
  position: relative;
  width: var(--nav_width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: width linear 0.3s;
}
nav::-webkit-scrollbar {
  display: none;
}

.logo {
  padding: 0 0.35rem;
  font-size: 2.2rem;
  display: flex;
}
.logo .logo_icon {
  color: white;
}
.logo .mobile_cancel_icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  .logo .mobile_cancel_icon {
    display: block;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 0.2rem;
    color: var(--color_nav_active);
  }
}

.menu_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style: none;
}

.categories {
  color: var(--color_nav_txt);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: var(--margin-xxs);
}
.categories svg {
  font-size: 1rem;
}

.second_category {
  margin-top: 3rem;
}

.li_navlink a {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0.6rem;
  text-decoration: none;
  color: #ffffff;
  transition: all ease-in-out 0.2s;
  list-style: none;
  margin-left: -31px;
  font-size: 17px;
}
.li_navlink a .description {
  margin-left: 0.5rem;
  font-weight: 400;
  transition: opacity 200ms ease;
}
.li_navlink a svg {
  color: var(--color_nav_not_active);
  flex-shrink: 0;
}
.li_navlink a:hover {
  background: var(--color_nav_active_bg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #446DFF;
  border-radius: 4px;
}
.li_navlink a:hover svg {
  color: #446DFF;
}

.li_navlink .active {
  background: var(--color_nav_active_bg);
  border-radius: 4px;
  /* font-family: "Inter"; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #446DFF;
}
.li_navlink .active svg {
  color: #446DFF;
}
.li_navlink .active .pi {
  color: #FFFFFF !important;
}

.btn_logout {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  transition: all ease-in-out 200ms;
  padding: 0.5rem 0.75rem 0 0.75rem;
}
.btn_logout svg {
  font-size: 1.5rem;
  color: var(--color_nav_active);
  cursor: pointer;
  transform: scaleX(-1);
}

.mobile_nav_background_active {
  width: 0;
  height: 100vh;
  transition: all ease-out 500ms;
  transition-delay: 300ms;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .mobile_nav_background_active {
    display: block;
    position: absolute;
    top: 0;
    left: calc(var(--nav_width) + var(--padding-md));
    width: calc(100vw - var(--nav_width) - var(--padding-md));
    background: rgba(0, 0, 0, 0.185);
    z-index: -1;
  }
}

.nav_small {
  width: 3rem;
}
.nav_small .categories {
  padding: 0 1rem;
}
.nav_small .description {
  opacity: 0;
}
.nav_small .copyright {
  display: none;
}
.nav_small .btn_logout svg {
  transform: scaleX(1);
}

.copyright {
  position: absolute;
  bottom: 1px;
}

.copyright h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #6F7187;
}

.copyright p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6F7187;
}/*# sourceMappingURL=Navbar.module.css.map */