/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap"); */

body {
  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: 0.8rem;
  --margin-xxs: 0.5rem;

  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: 0.8rem;
  --padding-xxs: 0.5rem;

  font-family: "Poppins", sans-serif;
  overflow: hidden !important;
  /* background: rgb(251 252 253); */
  margin: 0 !important;

}

.App {
  display: flex;
  max-width: 1366px;
  margin: 0px auto;
}

.personal {
  background-color: white;
  margin: 1em 2em;
  padding: 3em;
  border-radius: 20px;
}

.right_panel1 {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  width: 100%;
  margin-top: 5%;
}
.dw_gender {
  width: 125px !important;
  height: 40px !important;
}
.dw_maritial {
  /* width: 115px !important; */
  height: 40px !important;

}

.col-fixed {
  width: 140px !important;
}

 sup {
  color: red !important;
  font-size: 10px;
}

.col-fixed_big {
  width: 150px !important;
}

.p-inputtext-sm {
  width: 100% !important;
  border-radius: 10px;
  margin-top: -20px;
  height: 50px;
  border: 1px solid rgba(9, 14, 58, 0.3);
}

.upload_btn {
  margin-top: -11em !important;
  width: 30vw !important;
  background: transparent !important;
  height: 5vh !important;
}

@media screen and (max-width: 960px) {
  .right_panel1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 14px;
  }
  .upload_btn {
    margin-top: -11em !important;
    width: 40vw !important;
    background: transparent !important;
    height: 5vh !important;
  }
  .dw_gender {
    width: 90% !important;
  }
  .dw_maritial {
    width: 90% !important;
  }
}
.p-inputtext-sm {
  /* width: 100%; */
  border-radius: 10px;
  margin-top: -20px;
  height: 45px;
  border: 1px solid rgba(9, 14, 58, 0.3);
}
.perosnal h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-size: 20px;
  color: #090e3a;

}

.personal_1 {
  display: grid;
  background-color: white;
  margin-left: 2em;
  /* margin-top: -1em; */
  padding: 3em;
  width: 95%;
  border-radius: 20px;
}

.perosnal_1 h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-size: 18px;
  color: #090e3a;
  margin-top: -1em !important;
}

.personal_2 {
  display: grid;
  background-color: white;
  margin-left: 2em;
  margin-top: 2.5em;
  padding: 3em;
  width: 95%;
}

.perosnal_2 h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-size: 20px;
  color: #090e3a;
}

hr {
  border: 0.937058px solid #eaeaea;
  height: 0px;
}

.form {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 20em;
  margin-left: 20em;
  margin-top: -12em;
}

.form_1 {
  margin-top: -35em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10ems;
}

form label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  color: rgba(9, 14, 58, 0.8);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn_save {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 40px;
  gap: 10px;
  position: absolute;
  width: 345px;
  height: 56px;
  margin-top: 2em;
  text-align: center;
  background: #05bb75;
  border: 1px solid #05bb75;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding-left: 3em;
  font-family: "Plus Jakarta Sans";
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mobile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}

.mobile h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 100%;
  margin-top: -1rem;
  /* identical to box height, or 32px */
  /*font-family: 'Plus Jakarta Sans';*/
  color: #222448;
}
.mobile .mobile_p {
  width: 100%;
  text-align: left;
  /* ?margin-top: 1em; */
}

.mobile_form_1 label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222448;
}

.mobile_form_1 input[type="checkbox"] {
  background-color: none !important;
}

.segment_view {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.segment_view h1 {
  text-align: center;
  margin-left: 0em !important;
}
.mobile_form_1 {
  width: 49%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 35px;
  flex-direction: column;
  margin-top: 1.5em;
}

.res_btn {
  width: 49%;
  margin-top: 2.5% !important;
}

.dialog_res {
  min-height: 65%;
  width: 325px;
}
.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #343a40;
  padding: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.text-2xl {
  font-size: 1.5rem !important;
  margin-top: -9px;
}
@media screen and (max-width: 960px) {
  .mobile_form_1 {
    width: 100%;
  }
  .res_btn {
    width: 100%;
    margin-top: 4.5% !important;
  }
  .dialog_res {
    /* height: 65%; */
    width: 325px;
  }
  .px-3 {
    
    width: 71vw !important;
  }
}
@media screen and (max-width: 1070px) {
  .px-3 {
    
    width: 71vw !important;
  }
}
@media screen and (max-width: 460px) { 
  .res_btn {
    width: 100%;
    margin-top: 10% !important;
  }
  .dialog_res {
    /* height: 55%; */
    width: 350px;
  }
  .seg_pop .p-button.p-fileupload-choose {
    width: 150px !important;
}
.seg_pop .p-button.p-button-success {
  width: 150px !important;
}
.p-fileupload .p-fileupload-content {
  height: 300px !important;
  overflow-y: auto;
  padding: 5px !important;
}
.smc_color {
  background-color: #05BB75;
  border: none;
  width: 100%;
}
}

.mobile_form_1 input[type="checkbox"] {
  width: 25px;
  height: 25px;
  background: #0ca750;
  margin-top: -18px;
}
.mobile_form_1 input[type="checkbox"]:focus:hover {
  background: #0ca750;
}

.mobile_form_1 select {
  background: #ffffff;
  border: 1px solid rgba(9, 14, 58, 0.3);
  border-radius: 10px;
  width: 28rem;
  height: 3rem;
  padding-left: 1em;
  margin-top: -1em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: rgba(9, 14, 58, 0.5);
}

select:focus {
  outline: none;
}

.mobile_form_1 input {
  width: 100%;
  height: 45px;
  padding-left: 1.5em;
  background: #ffffff;
  border: 1px solid rgba(9, 14, 58, 0.3);
  border-radius: 5px;
  margin-top: -1.7em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  text-transform: capitalize;

  color: rgba(9, 14, 58, 0.5);
}

.signature {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -7.5em;
}
.btn_confirm {
  width: 454px;
  height: 56px;
  background: #05bb75;
  border-radius: 10px;
  border: none;
  margin-top: 3rem;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.check_segmenet {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* margin-top: -4rem; */
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activate {
  margin-top: -1em;
  margin-left: 1em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  color: #6a7582;
}
.act {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;

  color: #6f7187;
}

.from_other {
  display: inline;
}

.from_other .other {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  margin-top: 3.5rem;
}
sup {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(9, 14, 58, 0.8);
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    
  }

  form #mobile{
    width: 45.6vw;
  }

  form #marital{
    width: 13em !important;
  }

 form #pan{
    width: 45.6vw;
  }
  form #city{
    width: 49vw;
  }
  .mobile .mobile_p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }

  .check_segmenet{
    width: 80%;
  }

  .btn_confirm{
    width: 70vw;
  }

  .mobile_form_1 select{
    width: 70vw;
  }

  form #father{
    width: 120vw;
  }

  .mobile_form_1 input{
    width: 70vw;
  }

  form #pin{
    width: 46vw;
  }

  form #gender{
    width: 45.6vw;
  }

  form #marital{
    width: 45.6vw;
  }

  .personal_1 {
    width: 86% !important;
  }

  

  .btn_save{
    position: absolute;
    bottom: -72%;
    z-index: 9999;
    padding-bottom: 2em;
    left: 10%;
    width: 80%;
  font-size: 1rem;
  text-align: center;
  }
}

/*  */

.other_details_parent {
  margin-top: 1.6rem;
}


.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #6a7582;
}
.styled-checkbox + label:before {
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 30px !important;
  height: 30px !important;
  background: white;
}
.styled-checkbox:hover + label:before {
  background: #05bb75;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #05bb75;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.other_details_parent li {
  margin: 20px 0;
}
.centered {
  margin: auto;
}

.btn_group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2em;
  margin-bottom: 5em;
}
.btn_adhar {
 
  padding: 18px 40px;

  position: absolute;
  top: 113%;
  left: 45%;
  width: 227px;
  height: 56px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
   background-color: transparent;
  color: #05bb75;
  border: 1px dotted #05bb75;
  border-radius: 10px;
}

.btn_esign{
    width: 270px;
height: 56px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;


letter-spacing: 0.02em;

color: #FFFFFF;

background: #05BB75;
border: 1px solid #05BB75;
border-radius: 10px;
}
.btn_sign{
    margin-top: 3.019rem;
}

h1{
  font-weight:  normal;
}

#styled-checkbox-1{
  filter: hue-rotate(300deg);
  Width: "26.7px";
Height: "26.7px"
}

#styled-checkbox-2{
  filter: hue-rotate(300deg)
}
#styled-checkbox-3{
  filter: hue-rotate(300deg)
}

#pin{
  width: 11.5vw;
}

#city{
  width: 15vw;
}


.signature_upload{
  
  /* height: 260px; */

border-radius: 8px;
}

.signature_upload h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
color: #222448;
}
.cancelled{
  margin-top: 2em;
}
.cancelled p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 26px;
padding-left: 2em;
color: #424242;
}



.cheque p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #6A7582;
width: 459px;
height: 48px;
padding-left: 3.5em;
}



/*  */
.upload_files_check {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  width: 350px;
  height: 200px;
  /* background: #F7F7FF; */
  background-image: url('./pics/upload.png');
  border: 1px solid rgba(174, 176, 190, 0.5);
  border-radius: 16px;
  font-family: "Montserrat";
  /* margin: 1.5em; */
  margin-top: .5em;
color: black;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
.upload_files_check_wbg {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  width: 350px;
  height: 200px;
  /* background: #F7F7FF; */
  /* background-image: url('./pics/upload.png'); */
  border: 1px solid rgba(174, 176, 190, 0.5);
  border-radius: 16px;
  font-family: "Montserrat";
  /* margin: 1.5em; */
  margin-top: .5em;
color: black;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
.upload {

  
 
  width: 90%;
  height: 160px;
  /* background-image: url('./pics/upload.png'); */
  border-radius: 16px;
  font-family: "Montserrat";
 
color: black;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.upload p {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 1;
  margin: 1em;
  padding-top: 2em;
  transition: opacity 0.25s ease-in-out;
}
/* .upload.is-highlight {
  background-color: rgba(74, 160, 234, 0.5);
} */
.upload.is-highlight p {
  opacity: 1;
}
.upload.is-drop p {
  opacity: 0;
}
/* .upload-button {
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 80%;
   text-align: center;
} */
.upload-file {
   content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
height: 150px;
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 460px) { 
  .upload-file {
   
   width: 250px;
 height: 150px;
  
 }
 .signature_upload{
  width: 300px;
  /* height: 260px; */

border-radius: 8px;
}
.upload_files_check {
  width: 300px;
}
}


.active_upload{

  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

/* .signature_upload{
  width: 350px;
  height: 260px;

border-radius: 8px;
} */

.signature_upload h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
color: #222448;
}
.cancelled{
  margin-top: 2em;
}
.cancelled p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 26px;
padding-left: 2em;
color: #424242;
}



.cheque p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #6A7582;
width: 459px;
height: 48px;
padding-left: 3.5em;
}

.css-2s90m6-MuiAvatar-root{
margin-top: .5em !important;
}


.btn_close_fail{
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  border: none;
  justify-content: flex-end;
  float: right;
  position: absolute;
  right: 20px;
  top: 5%;
  cursor: pointer;
}

.browse_here{
  display: flex;
  align-items: center;
  justify-content: center;

}



.active_upload{

  display: flex;
  align-items: center;
  justify-content: center;
}

.active_upload .button{
  margin-top: 1.5em;

}

.signature_upload{
  /* height: 260px; */

/* border-radius: 8px; */
}

.signature_upload h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
color: #222448;
}


.button{

  width: 300px;
  height: 60px;
  margin-top: 4em;
  text-align: center;
  background: #0CA750;
  border: 1px solid rgba(174, 176, 190, 0.5);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 1.25rem;
  cursor: pointer !important;
  }

 #pan{
  width: 16.4vw;
 }

 #gender{
  width: 12.2vw;
 }



 #marital{
   width: 6.7em !important;
 }

 form .other #others_father{
  display: "flex";
   justify-content: space-between;
   align-items: center;
    margin-top: "1.5rem";
     flex-wrap: "wrap";
 }

 #mobile{
   width: 13.5vw;
 }

.red_close{
  position: absolute;
  top: 0%;
  z-index: 9999;
}

.red_close .btn_close_fail{
  border-radius: 50%;
  background: red;
}
.upload_img_box {
  margin: -50px 10px;
    width: 255px;
}
.my_form {
  background-image: url('./pics/upload.png');
}

/* input[type="password"]{
  width: 40px !important;
  background: #FAFAFA;
  height: 40px !important;
  border: 1px solid #AEB0BE;
  border-radius: 5px;
} */

.p-inputtext {
  height: 35px !important;
  border-radius: 6px !important;
}

.p-inputtext:enabled:hover {
  border-color: #446DFF !important;
  /* height: 35px !important; */
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #C7D2FE;
  border-color: #05BB75 !important;

}

.p-dropdown:not(.p-disabled):hover {
  border-color: #05BB75 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #495057;
  background: #05BB75 !important;
  border-radius: 10px;
}

.mw-3 {
  margin-top: 3% !important;
  width: 235px;
}

@media screen and (max-width: 625px) {

  .mw-3 {
    margin-top: 3% !important;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .grid{
    display: flex;
    flex-direction: column;
  }
  .p-inputtext-sm {
    width: 70vw;
    border-radius: 10px;
    margin-top: -20px;
    height: 50px;
    border: 1px solid rgba(9, 14, 58, 0.3);
  }
  .upload_btn {
    margin-top: -11em !important;
    width: 70vw !important;
    background: transparent !important;
    height: 5vh !important;
  }
}


.segment_section{
  margin-top: -1em;
  border-radius: 20px;
}

.p-button-label {
  font-weight: 500 !important;
}
.p-button {
  border-radius: 10px !important;
}

.segment_btn {
  width: 100%;
}
.segment_btn .p-button-label {
  flex: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #6c757d;
}
.segment_btn .p-button {
  border-radius: 5px !important;
  margin-top: -20px;
}
.segment_btn .p-button:focus {
  box-shadow: none !important;
}

.segment_btn .p-button.p-button-outlined:enabled:hover{
  background: rgba(99, 102, 241, 0.04);
    color: #6366F1;
    border: 1px solid #05BB75;
}
.segment_btn .p-button.p-button-outlined {
  background-color: transparent !important;
  color:rgba(9, 14, 58, 0.3) !important;
  border: 1px solid;
  width: 100%;
}
.seg_pop .p-button.p-button-success {
  width: 135px;
  
}

.seg_pop .p-button.p-button-danger {
  display: none;
}
.seg_pop .p-button.p-fileupload-choose {

  width: 135px;
}
.browser {
  background: #05BB75 !important;
    text-align: center !important;
    font-weight: 600 !important;
}
.browser .p-inputtext::before {
  content: "Browser";
  color: white !important;
}

.p-fileupload .p-fileupload-buttonbar {
  background: none !important; 
    padding: 0px !important;
    border: none !important;
    color: #343a40 !important;
    border-bottom: none !important;
    border-top-right-radius: none !important;
     border-top-left-radius: none !important; 
     position: absolute;
     bottom: 20px;
     
}

.p-fileupload .p-fileupload-content {
  
  height: 200px;
  overflow-y: auto;
  padding: 5px !important;
  
}

.seg_pop .pi-fw {
  display: none;
}

.seg_pop .p-button .p-button-icon-left {
  display: none;
}

.segment_pop .upload-btn {
  content:"";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 300px;
height: 150px;
 opacity: 0;
 background-color: #05BB75;
 cursor: pointer;
}

.file_name {
  position: relative;
  
  font-weight: 500;
  color: #05BB75;
}

.segment_btn img {
  width: 16px;
    margin-right: 8px;
}

.c_pop {
  margin-top: 30px !important;
}
.main_preview {
  display: flex;
    justify-content: space-between;
}

.preview {
  float: right;
    font-weight: 500;
    color: #05BB75;
    cursor: pointer;
    margin-top: -10px;
    /* margin-right: 5px; */
}
.input_holder {
  height: 40px;
}
.input_wrapper_main {
  width: 100%;
    margin-right: 30px;
}
.p-card .p-card-content {
  padding: 0px !important;
}

.p-fileupload .p-fileupload-row > div {
  padding: 1rem 1rem;
  font-size: 11px;
}

.p-fileupload .p-fileupload-row > div > img{
 width: 20px;

}

.p-fileupload .p-fileupload-row > div:nth-child(3){
  display: none !important;
}

.p-fileupload .p-fileupload-row > div:nth-child(4) button{
  background: red !important;
  color: white;
  border: none;
  border-radius: 50% !important;
  width: 25px;
    height: 25px;
    font-size: 20px;
}

.seg_pop .p-fileupload-content>.p-progressbar {
  display: none;
}
.seg_pop .p-button-icon {
  font-size: 12px;
}
.p-panel .p-panel-content {
  padding: 1.25rem;
  border: none !important;
  background: #ffffff;
  color: #495057;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 0 none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: inherit !important;
  background: #05BB75 !important;
}

.verified_icon {
  color: #82cdb0;
    position: absolute;
    right: 4%;
    font-size: 25px !important;
}
.reject_icon {
  color: red;
    position: absolute;
    right: 4%;
    font-size: 25px !important;
}
.inprocess_icon {
  color: yellow;
    position: absolute;
    right: 4%;
    font-size: 25px !important;
}
.doc_preview {
  display: flex;
    gap: 20px;
    /* justify-content: center; */
    flex-direction: column;
    border: 1px solid #dee2e6;
    height: 250px;
    align-items: flex-start;
    padding: 33px;
    border-radius: 6px;
}

/* .p-dialog .p-dialog-footer.p-button {
  color: #ffffff;
  background: #05BB75 !important;
  border: 1px solid #6366F1;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
} */
/* .p-component .p-confirm-dialog-accept .p-button {
  background: #05BB75 !important;
} */



.p-button:enabled:active, .p-button:not(button):not(a):not(.p-disabled):active {
  /* background: #05BB75 !important; */
  color: #ffffff;
  border-color: none !important;
}
.p-button:focus {
  box-shadow: none !important;
}

.seg_pop .p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 0 1.5rem 2rem 1.5rem;
  height: 420px !important;
}

.seg_upload_doc .p-dialog {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative !important;
  min-height: 65% !important;
}
.d_flex {
  display: flex !important;
}

.p-badge {
  background: #0CA750 !important;
  min-width: 15px !important;
  height: 15px !important;
  font-size: 10px !important;
  line-height: 12px !important;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #0CA750;
    background: #0CA750;
    color: #ffffff;
}
.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    border-color: #0CA750;
    background: #0CA750;
    color: #ffffff;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #0CA750;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #0CA750;
    background: #0CA750;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 22px;
  height: 22px;
  color: #495057;
  border-radius: 50px !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #0CA750 !important;
  background: #0CA750 !important;
}

.btn_view_details {
  font-size: 14px;
  font-weight: 600;
  color: #4E00FF ;
  position: relative;
  top: -20px;
  left: 10px;
}
.search_pos {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 625px) {

  .search_pos {
    display: none;
  }
  .date_pos {
    display: none;
  }
}

.otp_wrapper input {
  width: 50px !important;
  height: 50px !important;
  text-align: center !important;
  margin-right: 20px !important;
  background: #aeb0be1f !important;
  border-radius: 5px !important;
  border: 1px solid #63667838 !important;
}

